<ion-tabs>

  <ion-tab-bar
    class="main-tabs"
    slot="bottom">

    <ion-tab-button
      tab="chats">

      <ion-icon name="chatbox-ellipses-outline">
      </ion-icon>

      <ion-label>
        Chats
      </ion-label>

    </ion-tab-button>

    <ion-tab-button
      tab="groups">

      <ion-icon name="people-outline">
      </ion-icon>

      <ion-label>
        Groups
      </ion-label>

    </ion-tab-button>

    <ion-tab-button
      tab="study">

      <ion-icon name="book-outline">
      </ion-icon>

      <ion-label>
        Study
      </ion-label>

    </ion-tab-button>

    <ion-tab-button
      tab="profile">

      <ion-icon name="person-outline">
      </ion-icon>

      <ion-label>
        Profile
      </ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

